body {
  font-family: Garamond, serif;
  margin: 0;
  font-size: 50px;
}

footer {
  padding: 25px;
  background-color: #333;
}
footer > h1 {
  font-size: 20px;
  color: white;
  text-align: center;
  background-color: #333;
  padding: 10px;
  margin: 0;
}

ul { list-style-type: none;
 }

#title {margin-top: -100px;
  background-color: pink;
  padding: 5px;
  font-size: 60px;
}

#lang { display: flex;
  justify-content: flex-end;
  background-color: pink;
    }

#langl > li { display: inline;
   margin-right: 50px;
   border-style: solid;
   border-radius: 25%;
   padding: 5px;
   background-color: #333;
   border-color: #333;
}

#langl > li a {color: white;
  text-decoration: none;
}

ul.ngang {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.ngang > li { float: left;
}

#about {float: right;}

ul.ngang > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

ul.ngang > li a:hover {
  background-color: #111;
}


.aboutus {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffe4f0;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
}


.aboutus > div {
    background-color: #ffe4f0;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.a1 {font-family: Brush Script MT, Brush Script Std, cursive;
  color: #552c3f;
  width: 5%;
}

.a1 > h1 {  transform: rotate(-90deg);
  text-wrap: nowrap;
  font-size: 100px;
}

.a2 {
  width: 40%;
  box-shadow: 0px 0px 10px 5px #703a53;
}

.a3 { width: 45%;
}

img {
  width: 100%;
  margin-bottom: -0.8cm;
}
.aboutus > .a3 > p {
  font-size: 25px;
  line-height: 1.5;
  text-align: left;
  margin-top: -0.5cm;
  color: #462335;
}

.aboutus > .a3 > h1 {
  font-size: 175%;
  margin-top: -0.5cm;
  color: #620e37;
}

.aboutus > .a3 > h2 {font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 200%;
  margin-top: -1cm;
  color: #c21f6b;
}

/* nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn */
  
@media only screen and (max-width: 430px) {

  body {
    font-family: Garamond, serif;
    margin: 0;
    font-size: 27px;
  }
  
  footer {
    padding: 20px;
    background-color: #333;
  }
  footer > h1 {
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: #333;
    padding: 10px;
    margin: 0;
  }
  
  ul { list-style-type: none;
   }
  
  #title {margin-top: -50px;
    background-color: pink;
    padding: 5px;
    margin-left: -1cm;
    margin-bottom: -30px;
    font-size: 40px;
    text-align: center;
  }
  
  #lang { display: flex;
    justify-content: center;
    background-color: pink;
      }
  
  #langl > li { display: inline;
     margin-right: 50px;
     border-style: solid;
     border-radius: 25%;
     padding: 5px;
     background-color: #333;
     border-color: #333;
  }
  
  #langl > li a {color: white;
    text-decoration: none;
  }
  
  ul.ngang {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  ul.ngang > li { float:none;
  }
  
  #about {float: none;}
  
  ul.ngang > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 7px;
    text-decoration: none;
  }
  
  ul.ngang > li a:hover {
    background-color: #111;
  }
  
  .aboutus {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #ffe4f0;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
}


.aboutus > div {
    background-color: #ffe4f0;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.a1 {font-family: Brush Script MT, Brush Script Std, cursive;
  color: #552c3f;
  width: 5%;
}

.a1 > h1 {  transform: rotate(-90deg);
  text-wrap: nowrap;
  font-size: 50px;
  margin-top: 3cm;
}

.a2 {
  width: 60%;
  box-shadow: 0px 0px 10px 5px #703a53;
}

.a3 { width: 90%;
}

img {
  width: 100%;
  margin-bottom: -0.8cm;
}
.aboutus > .a3 > p {
  font-size: 25px;
  line-height: 0.8cm;
  text-align: left;
  margin-top: -0.5cm;
  color: #462335;
  margin-bottom: -0.3cm;
}

.aboutus > .a3 > h1 {
  font-size: 170%;
  margin-top: 0px;
  color: #620e37;
  line-height: 55px;
}

.aboutus > .a3 > h2 {font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 130%;
  margin-top: -1cm;
  color: #c21f6b;
}
}
