body {
    font-family: Garamond, serif;
    margin: 0;
    font-size: 50px;
}

footer {
    font-size: 12px;
    color: white;
    text-align: center;
    background-color: #333;
    padding: 10px;
}

ul { list-style-type: none;
   }

#title {margin-top: -100px;
    background-color: aqua;
    padding: 5px;
    font-size: 60px;
}

#lang { display: flex;
    justify-content: flex-end;
    background-color: aqua;
      }

#langl > li { display: inline;
     margin-right: 50px;
     border-style: solid;
     border-radius: 25%;
     padding: 5px;
     background-color: #333;
     border-color: #333;
}

#langl > li a {color: white;
    text-decoration: none;
}

ul.ngang {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
ul.ngang > li { float: left;
  }

#about {float: right;}
  
ul.ngang > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
  }
  
ul.ngang > li a:hover {
    background-color: #111;
  }

.space1 {background-color: rgb(119, 61, 19);
    padding: 7px;}

.space2 {background-color: rgb(119, 61, 19);
    padding: 7px;
    margin-top: -14px;}


