body {
    font-family: Garamond, serif;
    margin: 0;
    font-size: 50px;
  } 
  
  footer {
    padding: 25px;
    background-color: #333;
  }
  footer > h1 {
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: #333;
    padding: 10px;
    margin: 0;
  }
  
  ul { list-style-type: none;
   }
  
  #title {margin-top: -100px;
    background-color: aqua;
    padding: 5px;
    font-size: 60px;
  }
  
  #lang { display: flex;
    justify-content: flex-end;
    background-color: aqua;
      }
  
  #langl > li { display: inline;
     margin-right: 50px;
     border-style: solid;
     border-radius: 25%;
     padding: 5px;
     background-color: #333;
     border-color: #333;
  }
  
  #langl > li a {color: white;
    text-decoration: none;
  }
  
  ul.ngang {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  ul.ngang > li { float: left;
  }
  
  #about {float: right;}
  
  ul.ngang > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
  }
  
  ul.ngang > li a:hover {
    background-color: #111;
  }
  
  .grid-container .main { grid-area: main; }
  .grid-container .aside { grid-area: aside; overflow: hidden; }
  
  .grid-container {
      display: grid;
      grid-template-columns: 5fr 2fr; /* Tỉ lệ 1:2:1 */
      grid-template-areas:
        'main aside';
      gap: 10px;
      background-color: aqua;
      padding: 10px;
    }
  
  .grid-container > .main, .aside {
      background-color: rgb(184, 255, 255);
      text-align: center;
      padding: 20px 0 20px 0;
      border: #333;
      border-style:groove;
    }
  
  p, ol {
    font-size: 30px;
    margin-left: 1cm;
    margin-right: 1cm;
  }

  .main > ul {
    font-size: 30px;
    text-align: left;
    margin-left: 1cm;
  }
  
  .aside > h1 {font-size: 50px;color: rgb(152, 78, 78);}
  
  .main > p {text-align: left;}
  
  .main > h1 {font-size: 50px;
    color: rgb(152, 78, 78);
    text-align: left;
    margin-left: 1cm;
  }

/* nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn */
  
@media only screen and (max-width: 430px) {

  body {
    font-family: Garamond, serif;
    margin: 0;
    font-size: 27px;
  }
  
  footer {
    padding: 20px;
    background-color: #333;
  }
  footer > h1 {
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: #333;
    padding: 10px;
    margin: 0;
  }
  
  ul { list-style-type: none;
   }
  
  #title {margin-top: -50px;
    background-color: aqua;
    padding: 5px;
    margin-left: -1cm;
    margin-bottom: -30px;
    font-size: 40px;
    text-align: center;
  }
  
  #lang { display: flex;
    justify-content: center;
    background-color: aqua;
      }
  
  #langl > li { display: inline;
     margin-right: 50px;
     border-style: solid;
     border-radius: 25%;
     padding: 5px;
     background-color: #333;
     border-color: #333;
  }
  
  #langl > li a {color: white;
    text-decoration: none;
  }
  
  ul.ngang {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  ul.ngang > li { float:none;
  }
  
  #about {float: none;}
  
  ul.ngang > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 7px;
    text-decoration: none;
  }
  
  ul.ngang > li a:hover {
    background-color: #111;
  }
  
  .grid-container .main { grid-area: main; }
  .grid-container .aside { grid-area: aside; overflow: hidden; }
  
  .grid-container {
      display: grid;
      grid-template-columns: 1fr; /* Tỉ lệ 1:2:1 */
      grid-template-areas:
        'main'
        'aside';
      gap: 7px;
      background-color: aqua;
      padding: 7px;
    }
  
  .grid-container > .main, .aside {
      background-color: rgb(184, 255, 255);
      text-align: center;
      padding: 0px 0 0px 0;
      border: #333;
      border-style:groove;
    }
  
  p, ol {
    font-size: 25px;
    margin-left: 0.2cm;
    margin-right: 0.2cm;
  }

  .main > ul {
    font-size: 25px;
    text-align: center;
    margin-left: 0cm;
  }
  
  .aside > h1 {font-size: 30px;color: rgb(152, 78, 78);}
  
  .main > p {text-align: center;}
  
  .main > h1 {font-size: 30px;
    color: rgb(152, 78, 78);
    text-align:center;
    margin-left: 0cm;
  }
}
